# 기계학습기초 - 실습과제 4 - 4번문제 수정 v2 CV추가

# e비즈니스학과 201823871 박지헌

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_wine
from sklearn.model_selection import cross_val_score


data = load_wine(as_frame=True)

X_train, X_test, y_train, y_test = train_test_split(data.data, data.target, test_size= 0.2, random_state = 42)

metricList = ['minkowski', 'manhattan']
weightsList = ['uniform', 'distance']
kList = []
for i in range(1,50): #홀수만
    if(i%2 == 1):
        kList.append(i)

## No Cross Validation

In [18]:
scaled_noncv_acc = pd.DataFrame(columns=['weights', 'metrics', 'k', 'train_acc', 'test_acc'])

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

for w in weightsList:
    for m in metricList:
        for k in kList:
            knn_clf = KNeighborsClassifier(weights = w, n_neighbors= k, metric = m)
            knn_clf.fit(X_train_scaled,y_train)
            y_train_pred = knn_clf.predict(X_train_scaled)
            y_test_pred = knn_clf.predict(X_test_scaled)
            scaled_noncv_acc = scaled_noncv_acc.append(pd.DataFrame([[w, m, k, accuracy_score(y_train, y_train_pred),accuracy_score(y_test, y_test_pred)]],
                                              columns=['weights', 'metrics', 'k', 'train_acc', 'test_acc']))           

high_train_acc = scaled_noncv_acc[scaled_noncv_acc['train_acc'] == max(scaled_noncv_acc['train_acc'])] ; high_train_acc

    weights    metrics   k train_acc  test_acc
0   uniform  minkowski   1       1.0  0.944444
0   uniform  manhattan   1       1.0  0.944444
0   uniform  manhattan   3       1.0  0.944444
0  distance  minkowski   1       1.0  0.944444
0  distance  minkowski   3       1.0  0.944444
0  distance  minkowski   5       1.0  0.944444
0  distance  minkowski   7       1.0  0.944444
0  distance  minkowski   9       1.0  0.944444
0  distance  minkowski  11       1.0  0.944444
0  distance  minkowski  13       1.0  0.972222
0  distance  minkowski  15       1.0  0.972222
0  distance  minkowski  17       1.0  0.972222
0  distance  minkowski  19       1.0  0.944444
0  distance  minkowski  21       1.0  0.944444
0  distance  minkowski  23       1.0  0.944444
0  distance  minkowski  25       1.0  0.972222
0  distance  minkowski  27       1.0  0.972222
0  distance  minkowski  29       1.0       1.0
0  distance  minkowski  31       1.0  0.972222
0  distance  minkowski  33       1.0       1.0
0  distance  minkowski  35       1.0       1.0
0  distance  minkowski  37       1.0       1.0
0  distance  minkowski  39       1.0       1.0
0  distance  minkowski  41       1.0  0.972222
0  distance  minkowski  43       1.0  0.972222
0  distance  minkowski  45       1.0  0.972222
0  distance  minkowski  47       1.0  0.972222
0  distance  minkowski  49       1.0  0.972222
0  distance  manhattan   1       1.0  0.944444
0  distance  manhattan   3       1.0  0.944444
0  distance  manhattan   5       1.0  0.944444
0  distance  manhattan   7       1.0  0.944444
0  distance  manhattan   9       1.0  0.972222
0  distance  manhattan  11       1.0  0.944444
0  distance  manhattan  13       1.0  0.944444
0  distance  manhattan  15       1.0  0.972222
0  distance  manhattan  17       1.0  0.944444
0  distance  manhattan  19       1.0  0.972222
0  distance  manhattan  21       1.0  0.944444
0  distance  manhattan  23       1.0  0.944444
0  distance  manhattan  25       1.0  0.916667
0  distance  manhattan  27       1.0  0.916667
0  distance  manhattan  29       1.0  0.944444
0  distance  manhattan  31       1.0  0.944444
0  distance  manhattan  33       1.0  0.944444
0  distance  manhattan  35       1.0  0.944444
0  distance  manhattan  37       1.0  0.916667
0  distance  manhattan  39       1.0  0.916667
0  distance  manhattan  41       1.0  0.916667
0  distance  manhattan  43       1.0  0.916667
0  distance  manhattan  45       1.0  0.944444
0  distance  manhattan  47       1.0  0.944444
0  distance  manhattan  49       1.0  0.972222

In [19]:
high_train_acc['test_acc'].mean()

0.9544025157232695

## Cross Validation

In [13]:
scaled_cv_acc = pd.DataFrame(columns=['weights', 'metrics', 'k', 'score'])

for w in weightsList:
    for m in metricList:
        for k in kList:
            knn_clf = KNeighborsClassifier(weights = w, n_neighbors= k, metric = m)
            score = cross_val_score(knn_clf, X_train, y_train, cv=5)
            # knn_clf.fit(X_train_scaled,y_train)
            # y_train_pred = knn_clf.predict(X_train_scaled)
            # y_test_pred = knn_clf.predict(X_test_scaled)
            scaled_cv_acc = scaled_cv_acc.append(pd.DataFrame([[w, m, k, score.mean()]],
                                              columns=['weights', 'metrics', 'k', 'score']))           

scaled_cv_acc[scaled_cv_acc['score'] == max(scaled_cv_acc['score'])]

    weights    metrics  k    score
0   uniform  manhattan  1  0.79532
0  distance  manhattan  1  0.79532

* 스코어가 가장 높은 위 파라미터를 선정, 아래에서 검증

In [14]:
k = 1
m = 'manhattan'

test_acc = pd.DataFrame(columns=['weights', 'metrics', 'k', 'train_acc', 'test_acc'])

for w in weightsList:
            knn_clf = KNeighborsClassifier(weights = w, n_neighbors= k, metric = m)
            knn_clf.fit(X_train_scaled,y_train)
            y_train_pred = knn_clf.predict(X_train_scaled)
            y_test_pred = knn_clf.predict(X_test_scaled)
            test_acc = test_acc.append(pd.DataFrame([[w, m, k, accuracy_score(y_train, y_train_pred),accuracy_score(y_test, y_test_pred)]],
                                              columns=['weights', 'metrics', 'k', 'train_acc', 'test_acc']))           

test_acc[test_acc['test_acc'] == max(test_acc['test_acc'])]

    weights    metrics  k train_acc  test_acc
0   uniform  manhattan  1       1.0  0.944444
0  distance  manhattan  1       1.0  0.944444